/* imports */
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap");
/* resets */
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* properties/variables */
:root {
  --main-font: "Signika Negative", sans-serif;

  /* text colors */
  --white-text-color: #fff;
  --black-text-color: #020617;
  --gray-text-color: #a1a1aa;

  /* colors */
  --blue-background: #0ea5e9;
  --white-background: #fafafa;
  --gray-background: #d6d3d1;
  --light-backgroud: #e6edf4;
  --highlights: #fbbf24;
}

body {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 2fr 6fr;
  font-family: var(--main-font);
}

/* sidebar styles */
.sidebar__nav {
  display: grid;
  grid-row: 1 / 3;
  grid-template-rows: 100px 2fr 3fr;
  background-color: var(--blue-background);
  color: var(--white-text-color);
  padding: 16px;
  gap: 16px;
}

.sidebar__top {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

.mid-links,
.bot-links {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
}

.links {
  display: grid;
  grid-template-columns: 36px 2fr;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.links p:hover {
  transform: scale(1.05);
}

.links p {
  font-size: 20px;
  font-weight: 500;
  transition: transform 0.2s;
}

.link-icons {
  width: 24px;
  height: 24px;
  fill: var(--white-text-color);
}

/* header styles */
.header__nav {
  display: grid;
  grid-template-rows: 1fr 2fr;
  padding: 8px 32px;
  gap: 4px;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.header__top {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 48px;
}

.header-search {
  display: grid;
  grid-template-columns: 24px 1fr;
  gap: 8px;
  align-items: center;
}

.header-search input {
  height: 32px;
  border-radius: 10px;
  border: none;
  background-color: var(--gray-background);
  padding: 4px 8px;
  outline: none;
}

.header-search svg {
  cursor: pointer;
  transition: transform 0.2s;
}

.header-search svg:hover {
  transform: scale(1.05);
}

.header-extras {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  align-items: center;
}

.header-search svg,
.header-extras svg {
  height: 24px;
  width: 24px;
}

.header-extras img {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

.header-extras p {
  font-size: 20px;
}

.header-extras > * {
  transition: transform 0.2s;
}

.header-extras > *:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.header__bot {
  display: grid;
  grid-template-columns: 4fr 3fr;
}

.header__bot img {
  height: 64px;
  width: 64px;
  border-radius: 50%;
}

.header-user-display {
  display: grid;
  grid-template-columns: 1fr 7fr;
  align-items: center;
  gap: 8px;
}

.user-intro p {
  font-size: 24px;
  font-weight: 600;
}

.header-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.header-buttons button {
  height: fit-content;
  width: 100px;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  border-radius: 32px;
  color: var(--white-text-color);
  background-color: var(--blue-background);
  cursor: pointer;
  transition: transform 0.2s;
}

.header-buttons button:hover {
  transform: scale(1.05);
}

/* main section styles */
.main__wrapper {
  display: grid;
  height: 100%;
  grid-template-columns: 3fr 1fr;
  gap: 8px;
  padding: 8px 8px 8px 32px;
  background-color: var(--light-backgroud);
}

.main__content {
  display: grid;
  grid-template-rows: 20px 2fr;
  gap: 8px;
  overflow: hidden;
}

.content-projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
  overflow: auto;
}

.project {
  height: 200px;
  border-left: 8px solid var(--highlights);
}

.card {
  border-radius: 8px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  background-color: var(--white-background);
}

.main__extras {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
}

.extra-announcement,
.extra-trending {
  display: grid;
  grid-template-rows: 30px 1fr;
}

.card-extra {
  height: 300px;
}
