/* imports */
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap");
/* resets */
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* properties/variables */
:root {
  --main-font: "Signika Negative", sans-serif;

  /* text colors */
  --white-text-color: #fff;
  --black-text-color: #020617;
  --gray-text-color: #a1a1aa;

  /* colors */
  --blue-background: #0ea5e9;
  --white-background: #fafafa;
  --gray-background: #d6d3d1;
  --highlights: #fbbf24;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 2fr 6fr;
  font-family: var(--main-font);
}

/* sidebar styles */
.sidebar__nav {
  display: grid;
  grid-row: 1 / 3;
  grid-template-rows: 1fr 4fr 4fr;
  background-color: var(--blue-background);
  color: var(--white-text-color);
  padding: 16px;
  gap: 16px;
}

.sidebar__top {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

.mid-links,
.bot-links {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
}

.links {
  display: grid;
  grid-template-columns: 36px 2fr;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.links p:hover {
  transform: scale(1.05);
}

.links p {
  font-size: 20px;
  font-weight: 500;
}

.link-icons {
  width: 24px;
  height: 24px;
  fill: var(--white-text-color);
}

/* header styles */
.header__nav {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

/* main section styles */
.main__wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
